# tests
test.txt
Arbre
fleur
nenuphar
output.ft_ls
output.ls
lol
new_file
old_file
futur
past

# swap
srcs/*.c.swp
notes/*.txt.swp

# objects
objs/*.o
libft/objs/*.o

# executables
libft/libft.a
ft_ls
ft_ls_bis
essais/a.out

# debug
*.dSYM
