# tests
test.txt
Arbre
fleur
ft_ls
nenuphar
output.ft_ls
output.ls
lol
new_file
old_file

# swap
srcs/*.c.swp
notes/*.txt.swp

# objects
srcs/*.o

# executables
libft/libft.a

# debug
*.dSYM
futur
past
